{% extends 'dokan/basic.html'%}

{% block title%} About {%endblock%}
{% block css%} 
<style>
    .cover-container {
        position: relative;
        height: 100vh;
    }
    
    
    .container {
        max-width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    @media (min-width: 320px) {
        .container {
            position: static;
            top: auto;
            left: auto;
            transform: none;
            max-width: none;
        }
    }
    
    @media (min-width: 768px) {
        .container {
            max-width: 720px;
        }
    }
    
    @media (min-width: 992px) {
        .container {
            max-width: 960px;
        }
    }
    
</style>
{%endblock%}
{% block body%} 

<div class="cover-container " style="height: 100vh;">
    <div class="container container-sm" style="align-items: center;"">
    <h1 class="text-center" >Who are we?</h1>
    <p class="lead mt-5">
        Bringing Convenience to Your Doorstep, Right Here in Jhapa
Namaste and welcome to MyCommerceWeb! We're more than just another online store; we're a locally grown e-commerce platform based right here in the heart of Jhapa, Koshi Province, dedicated to making shopping easier and more accessible for everyone in our community and beyond.</p>

<p class="lead">Born from a passion for connecting local sellers with eager buyers and a desire to bring the convenience of online shopping to our corner of Nepal, MyCommerceWeb was founded with a simple yet powerful vision: to offer a diverse range of quality products, delivered reliably to your doorstep.
</p>

<p class="lead">We understand the unique needs and preferences of our community. That's why we've carefully curated a selection of items, from everyday essentials to those special finds, ensuring there's something for everyone. We're constantly working to expand our offerings and partner with local businesses and artisans, supporting our local economy and bringing you unique products you might not find anywhere else.</p>

<p class="lead">At MyCommerceWeb, we believe in more than just transactions. We're building relationships. Our commitment to you goes beyond providing a seamless online shopping experience.</p>
</div></div>



{%endblock%}